# Recommender System

## Importing Libraries

Initial Libraries

In [2]:
import numpy as numpy
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

## Loading the Dataset

In [5]:
er_df = pd.read_csv('ratings_Electronics.csv', names=['userId', 'productId','Rating','timestamp'])
er_df.head()

           userId   productId  Rating   timestamp
0   AKM1MP6P0OYPR  0132793040     5.0  1365811200
1  A2CX7LUOHB2NDG  0321732944     5.0  1341100800
2  A2NWSAGRHCP8N5  0439886341     1.0  1367193600
3  A2WNBOD3WNDNKT  0439886341     3.0  1374451200
4  A1GI0U4ZRJA8WN  0439886341     1.0  1334707200

## EDA - Exploratory Data Analysis

In [7]:
er_df.shape

(7824482, 4)

In [8]:
subset_cent = 25
# Calculate the number of rows for the desired percentage
subsetSize = int(len(er_df) * (subset_cent / 100))

# Take a random subset of the DataFrame using sample
er_df = er_df.sample(n=subsetSize, random_state=33)

In [9]:
er_df.shape

(1956120, 4)

In [10]:
er_df.dtypes

userId        object
productId     object
Rating       float64
timestamp      int64
dtype: object

In [11]:
er_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1956120 entries, 1647525 to 5467987
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     object
 1   productId  object
 2   Rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 74.6+ MB

In [12]:
er_df.describe()

             Rating     timestamp
count  1.956120e+06  1.956120e+06
mean   4.013300e+00  1.338174e+09
std    1.379466e+00  6.902151e+07
min    1.000000e+00  9.286272e+08
25%    3.000000e+00  1.315267e+09
50%    5.000000e+00  1.361059e+09
75%    5.000000e+00  1.386115e+09
max    5.000000e+00  1.406074e+09

In [20]:
er_df['Rating'].unique().astype(int)

array([5, 4, 3, 2, 1])

Maximum rating possible is 5 and minimum rating possible is 1